* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    background-color: #fcfcfa;
    font-family: system-ui;
}

.wrap {
    text-align: center;
    padding: 80px 0 50px;
}

.todo_form > .add-button {
    margin-left: 18px;
}

.input-text {
    width: 300px;
    font-size: 32px;
    padding: 12px 20px;
    border-radius: 4px;
    -webkit-appearance: none;
    border: none;
    box-shadow: 0px 0px 12px #ccc;
}

.add-button {
    font-size: 32px;
    padding: 12px 20px;
    border: none;
    -webkit-appearance: none;
    background-color: #f06292;
    color: #eee;
    border-radius: 4px;
}

.list-area{
    display: flex;
    /*
    justify-content: space-betwee;
    */
    justify-content: space-around;
    margin-top: 20px;
}

.list-area .area-complete
.list-area .area-incomplete {
    width: 470px;
}

.list {
    align-items: center;
    background-color: #fefefe;
    box-shadow: 0px 2px 12px #cecece;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 20px 10px 32px;
    width: 100%;
}

.list:not(:first-child) {
    margin-top: 16px;
}

.list-label{
    font-size: 24px;
}

.list-button {
    -webkit-appearance: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    color: #222;
    background-color: #eee;
}

.button-done {
    background-color: #4caf50;
    color: #eee;
}

.button-delete {
    background-color: #f44336;
    color: #eee;
}

.todo-title {
    color: #333;
    font-size: 32px;
    text-align: center;
}

.todo-area {
    margin-top: 36px;
}